<h2>List of Works</h2>

<%= render partial: "category_section", locals: { category_title: "Albums", category: 'album' } %>
<%= render partial: "category_section", locals: { category_title: "Books", category: 'book' } %>
<%= render partial: "category_section", locals: { category_title: "Movies", category: 'movie' } %>
