<h2>List of Users</h2>
<table class = "table">
  <thead>
    <th>Username</th>
    <th>Votes</th>
    <th>Joined</th>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user.id) %></td>
      <td><%= user.votes.count %></td>
      <td><%= user.join_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Media List", root_path, class: "btn btn-secondary"%>
